.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p:last-child{
  color: dimgray;
  display: block;
  font-size: var(--font-size-small,14px);
  overflow: hidden; /* Hides any overflow content */
  text-overflow: ellipsis; 
  text-transform: uppercase;
  white-space: nowrap;
}

.members-only-section .cards ul li::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background: -webkit-gradient(linear, right bottom, left top, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsla(0, 0%, 100%, 0)), color-stop(50%, var(--brand-primary, #ffea00)), to(var(--brand-primary, #ffea00))); */
  background: linear-gradient( to top left, var(--transparent-white) 0%, var(--transparent-white) 50%, var(--brand-primary) 50%, var(--brand-primary) 100%);
  color: #000;
  content: "🔒";
  font-family: wknd-icon-font, sans-serif !important;
  font-size: 1.25rem;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding: 9pt;
  position: relative;
  text-transform: none;
  top: 49px;
  z-index: 2;
}

.cards ul li, .members-only-section .cards ul li{
  border:none;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

