.accordion details {
  width:80%;
    border-bottom: 1px solid var(--dark-gray);
    padding: 0;
    margin: 0;
  }
  
  .accordion .accordion-item .accordion-item-label>p{
    padding:0;
  }
  /* stylelint-disable-next-line no-descending-specificity */ 
  .accordion details p {
    padding:0;
  }
  
  .accordion details summary {
    position: relative;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
  }
  
  .accordion details[open] summary {
    background-color: var(--light-color);
  }
  
  .accordion details summary:focus,
  .accordion details summary:hover {
    background-color: var(--light-color);
  }
  
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion details summary::after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    border-width: 2px 2px 0 0;
    transition: transform 0.2s;
  }
  
  .accordion details[open] summary::after {
    /* transform: translateY(-50%) rotate(-45deg); */
    content: '–'; /* Display "–" when open */
    transform: translateY(-50%)
  }

  .accordion details[open] .accordion-item-body {
    border-top: 1px solid #dadada;
    background-color: var(--background-color);
  }