.faq-columns > div {
  display: flex;
  align-items: flex-start; /* Align both child divs to the top */
  padding: 20px; /* Add some padding around the columns if needed */
  gap:75px;
  }
  
  .faq-columns img {
    width: 100%;
  }
  
  .faq-columns > div > div {
    order: 1;
  }
  
  .faq-columns > div > .faq-columns-img-col {
    order: 0;
  }
  
  .faq-columns > div > .faq-columns-img-col img {
    display: block;
  }
  
  @media (width >= 900px) {
    .faq-columns > div {
      align-items: start;
      flex-direction: unset;
      gap: 24px;
    }
  
    .faq-columns > div > div {
      flex: 1;
      order: unset;
    }
  }
  .faq-columns>div>div:nth-child(1) {
    width: 80%;
    flex: 0 0 80%;
	}
  .faq-columns>div>div:nth-child(2) {
    width: 20%;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; /* Adds some space at the top of the text section */
	}
  .faq-columns>div>div:nth-child(2) h3{
    font-family: var(--fontFamilySerif,"Asar",Georgia,"Times New Roman",Times,serif);
    font-weight: var(--fontWeightNormal,normal);
    margin-bottom: 13.5px;
    margin-top: 27px;
	}
  .faq-columns>div>div:nth-child(2) p{
    font-size: 14px;
    margin-top: 10px; 
	}