.articles > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
  }
  
  .articles > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
  }
  
  .articles .articles-article-body {
    margin: 6px;
  }
  .articles .articles-article-body a.button {
    margin:0;
    border-radius: 0;
    background-color: var(--background-color);
    color: black;
  }  
  .articles .articles-article-image {
    line-height: 0;
  }
  
  .articles > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  