footer {
  background-color: #202020;
  font-size: var(--body-font-size-xs);
  padding:0 50px;
  font-family: var(--fontFamilySansSerif,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif);
  color: #f7f7f7;
}

footer .footer>div {
  margin: auto;
  padding: 20px 24px 24px;
}

footer .footer p {
  margin-top: 1em;
  color: white;
  line-height: 1.25;
  font-size: var(--fontSizeXSmall,9pt);;
}

@media (min-width:900px) {
  footer .footer>div {
    padding: 20px 32px 24px;
  }
}

footer .section .default-content-wrapper>ul>li {
  flex: 0 1 auto;
  float: left;
  list-style: none;
  padding: 20px 8px;
  position: relative;
  color: white
}

footer .columns img {
  display: inline-block;
  width: auto;
  height: 20px;
  margin:8px 12px;
}
.columns-img-col img {
  display: inline-block;
  width: auto;
  height:50px;
  margin:8px 12px;
}
.columns > div {
  display: flex; /* This ensures all direct children use flex properties */
  width: 100%;
  margin-bottom: 40px;
}

.columns>div>div:last-child {
  display: flex;
  align-items: center;
  /* Vertically align items */
  gap: 10px;
  justify-content: flex-start;
  width: 27%;  /* Set width to 30% */
  flex: 0 0 27%; /* Prevent growing or shrinking */
}

.columns>div>div:last-child p {
  width: auto;
}

.columns>div>div:last-child table {
  width: auto;
  /* Pushes the table to the right */
  background-color: white;
  justify-content: flex-start;
}

/* 2nd div */
.columns>div>div:nth-child(2) {
  width: 58%;
  flex: 0 0 58%;
}

.columns>div>div:nth-child(2) ul {
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: flex-start;
  /* Align items to the left */
  padding: 0; 
}

.columns>div>div:nth-child(2) ul li {
  color: white;
  white-space: nowrap;
  /* Prevent text wrapping */
  text-align: center;
  /* Optional: To center the text within each li */
  flex: unset; /* Remove flex property if it's still affecting layout */
}

/* 1nd div */
.columns > div > div:nth-child(1) {
  width: 15%;  /* Set width to 30% */
  flex: 0 0 15%; /* Prevent growing or shrinking */
}